
<html>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <head>
        <title>WeatherApp</title>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Wind</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ current['current']['temp'] }}</td>
                    <td>{{ current['current']['humidity'] }}</td>
                    <td>{{ current['current']['wind_speed'] }}</td>
                </tr>
            </tbody>
            
        </table>
        <p><span>Temp:</span></p>
    </body>
</html>